# Comparison between wildtype KCNJ5 and L168R mutated KCNJ5 after mol-54 treatment

In [2]:
import pandas as pd
from numpy import float64, subtract

In [3]:
def convert_rep(row):
    row['rep'] = row['Sample Name'][-1]
    row['Sample Name'] = row['Sample Name'][:len(row['Sample Name']) - 5]
    return row

In [26]:
rawDataSet_1 = pd.read_excel(r'../resources/alpha_R4.xls', sheet_name = 'Results', header = 50, decimal = ",")

WT_L168R_1 = rawDataSet_1.drop(columns = ['Well', 'Well Position', 'Omit', 'Task', 'Reporter', 'Quencher', 'Quantity', \
                                    'Quantity Mean', 'Quantity SD', 'RQ', 'RQ Min', 'RQ Max', 'Delta Ct', 'Delta Ct Mean', \
                                     'Delta Ct SD', 'Delta Ct SE', 'Delta Delta Ct', 'Automatic Ct Threshold', \
                                     'Ct Threshold', 'Automatic Baseline', 'Baseline Start', \
                                    'Baseline End', 'Amp Status', 'Comments', 'Cq Conf', 'CQCONF', 'EXPFAIL', 'NOAMP' , 'HIGHSD'])

WT_L168R_1['rep'] = '1'
WT_L168R_1 = WT_L168R_1[WT_L168R_1['Sample Name'].str.contains('rep')== False ]
WT_L168R_1 = WT_L168R_1.dropna(axis = 0)
WT_L168R_1

     Sample Name Target Name         CT    Ct Mean     Ct SD rep
0          empty       GAPDH  34.194633  30.650375  5.012339   1
1          empty       GAPDH  27.106115  30.650375  5.012339   1
2   empty + m-54       GAPDH  24.112486  23.713436  0.564343   1
3   empty + m-54       GAPDH  23.314384  23.713436  0.564343   1
4             WT       GAPDH  23.664257  23.392542  0.384263   1
5             WT       GAPDH  23.120827  23.392542  0.384263   1
6      WT + m-54       GAPDH  23.269213  23.354210  0.120203   1
7      WT + m-54       GAPDH  23.439205  23.354210  0.120203   1
8          L168R       GAPDH  23.845541  23.648472  0.278699   1
9          L168R       GAPDH  23.451401  23.648472  0.278699   1
10  L168R + m-54       GAPDH  23.307472  23.462460  0.219185   1
11  L168R + m-54       GAPDH  23.617447  23.462460  0.219185   1
12         empty       KCNJ5  24.518812  24.549644  0.043602   1
13         empty       KCNJ5  24.580475  24.549644  0.043602   1
14  empty + m-54       KCNJ5  24.559673  24.533558  0.036933   1
15  empty + m-54       KCNJ5  24.507442  24.533558  0.036933   1
16     WT + m-54       KCNJ5  20.258137  20.228771  0.041528   1
17            WT       KCNJ5  20.415123  20.424034  0.012604   1
18            WT       KCNJ5  20.432947  20.424034  0.012604   1
19     WT + m-54       KCNJ5  20.199408  20.228771  0.041528   1
20         L168R       KCNJ5  19.796741  19.720732  0.107494   1
21         L168R       KCNJ5  19.644722  19.720732  0.107494   1
22  L168R + m-54       KCNJ5   18.95558  19.067278  0.157965   1
23  L168R + m-54       KCNJ5  19.178976  19.067278  0.157965   1
24         empty     CYP11B2  30.231167  30.156593  0.105463   1
25         empty     CYP11B2   30.08202  30.156593  0.105463   1
26  empty + m-54     CYP11B2  31.374182  31.368679  0.007781   1
27  empty + m-54     CYP11B2  31.363178  31.368679  0.007781   1
28     WT + m-54     CYP11B2  31.392122  31.414961  0.032299   1
29            WT     CYP11B2  29.534868  29.640133  0.148865   1
30            WT     CYP11B2  29.745396  29.640133  0.148865   1
31     WT + m-54     CYP11B2  31.437799  31.414961  0.032299   1
32         L168R     CYP11B2  29.733652  29.717892  0.022287   1
33         L168R     CYP11B2  29.702133  29.717892  0.022287   1
34  L168R + m-54     CYP11B2  31.287251  31.380970  0.132539   1
35  L168R + m-54     CYP11B2  31.474689  31.380970  0.132539   1

In [14]:
rawDataSet_2 = pd.read_excel(r'../resources/beta_R1.xls', sheet_name = 'Results', header = 50, decimal = ",")

WT_L168R_2 = rawDataSet_2.drop(columns = ['Well', 'Well Position', 'Omit', 'Task', 'Reporter', 'Quencher', 'Quantity', \
                                    'Quantity Mean', 'Quantity SD', 'RQ', 'RQ Min', 'RQ Max', 'Delta Ct', 'Delta Ct Mean', \
                                     'Delta Ct SD', 'Delta Ct SE', 'Delta Delta Ct', 'Automatic Ct Threshold', \
                                     'Ct Threshold', 'Automatic Baseline', 'Baseline Start', \
                                    'Baseline End', 'Amp Status', 'Comments', 'Cq Conf', 'CQCONF', 'EXPFAIL' , 'HIGHSD'])

WT_L168R_2['rep'] = '2'
WT_L168R_2 = WT_L168R_2[WT_L168R_2['Sample Name'].str.contains('rep')== False ]
WT_L168R_2 = WT_L168R_2.dropna(axis = 0)
WT_L168R_2

     Sample Name Target Name         CT    Ct Mean     Ct SD rep
0          empty       GAPDH  26.539621  25.873127  0.942567   2
1          empty       GAPDH  25.206631  25.873127  0.942567   2
2   empty + m-54       GAPDH  25.089643  25.098190  0.012086   2
3   empty + m-54       GAPDH  25.106735  25.098190  0.012086   2
4             WT       GAPDH  24.986715  24.980888  0.008239   2
5             WT       GAPDH  24.975063  24.980888  0.008239   2
6      WT + m-54       GAPDH  25.245575  25.362186  0.164914   2
7      WT + m-54       GAPDH  25.478798  25.362186  0.164914   2
8          L168R       GAPDH  25.621687  25.706633  0.120131   2
9          L168R       GAPDH  25.791578  25.706633  0.120131   2
10  L168R + m-54       GAPDH  25.509653  25.816410  0.433820   2
11  L168R + m-54       GAPDH  26.123167  25.816410  0.433820   2
12         empty       KCNJ5  24.654327  24.617924  0.051483   2
13         empty       KCNJ5   24.58152  24.617924  0.051483   2
14  empty + m-54       KCNJ5  24.996658  25.015869  0.027168   2
15  empty + m-54       KCNJ5   25.03508  25.015869  0.027168   2
16            WT       KCNJ5  20.450922  20.433189  0.025076   2
17            WT       KCNJ5  20.415459  20.433189  0.025076   2
18     WT + m-54       KCNJ5  20.448612  20.473320  0.034943   2
19     WT + m-54       KCNJ5   20.49803  20.473320  0.034943   2
20         L168R       KCNJ5  20.309467  20.335520  0.036844   2
21         L168R       KCNJ5  20.361572  20.335520  0.036844   2
22  L168R + m-54       KCNJ5  19.367947  19.241318  0.179082   2
23  L168R + m-54       KCNJ5  19.114687  19.241318  0.179082   2
24         empty     CYP11B2  29.975176  29.883806  0.129216   2
25         empty     CYP11B2  29.792437  29.883806  0.129216   2
26  empty + m-54     CYP11B2  32.208469  32.221542  0.018488   2
27  empty + m-54     CYP11B2  32.234615  32.221542  0.018488   2
28            WT     CYP11B2  29.745144  29.702539  0.060252   2
29            WT     CYP11B2  29.659935  29.702539  0.060252   2
30     WT + m-54     CYP11B2  32.659355  32.724556  0.092208   2
31     WT + m-54     CYP11B2  32.789757  32.724556  0.092208   2
32         L168R     CYP11B2  30.010817  30.081081  0.099369   2
33         L168R     CYP11B2  30.151346  30.081081  0.099369   2
34  L168R + m-54     CYP11B2  31.882353  32.245274  0.513246   2
35  L168R + m-54     CYP11B2  32.608192  32.245274  0.513246   2

In [6]:
#pd.set_option('display.max_rows', None)

In [30]:
clean = pd.concat([WT_L168R_1, WT_L168R_2])
clean

     Sample Name Target Name         CT    Ct Mean     Ct SD rep
0          empty       GAPDH  34.194633  30.650375  5.012339   1
1          empty       GAPDH  27.106115  30.650375  5.012339   1
2   empty + m-54       GAPDH  24.112486  23.713436  0.564343   1
3   empty + m-54       GAPDH  23.314384  23.713436  0.564343   1
4             WT       GAPDH  23.664257  23.392542  0.384263   1
..           ...         ...        ...        ...       ...  ..
31     WT + m-54     CYP11B2  32.789757  32.724556  0.092208   2
32         L168R     CYP11B2  30.010817  30.081081  0.099369   2
33         L168R     CYP11B2  30.151346  30.081081  0.099369   2
34  L168R + m-54     CYP11B2  31.882353  32.245274  0.513246   2
35  L168R + m-54     CYP11B2  32.608192  32.245274  0.513246   2

[72 rows x 6 columns]

In [38]:
# defining control = calibrator samples per replicate

def control (replicate, target):
    ctrl = clean[(clean['Sample Name'] == 'empty') &
                          (clean['Target Name'] == target) &
                          (clean['rep'] == replicate)].reset_index().iloc[0, 3]
    return ctrl


ctrl_GAPDH_rep1 = control('1', 'GAPDH')
ctrl_GAPDH_rep2 = control('2', 'GAPDH')
#ctrl_GAPDH_rep3 = control('3', 'GAPDH')
#ctrl_GAPDH_rep4 = control('4', 'GAPDH')

ctrl_KCNJ5_rep1 = control('1', 'KCNJ5')
ctrl_KCNJ5_rep2 = control('2', 'KCNJ5')
#ctrl_KCNJ5_rep3 = control('3', 'KCNJ5')
#ctrl_KCNJ5_rep4 = control('4', 'KCNJ5')

ctrl_CYP11B2_rep1 = control('1', 'CYP11B2')
ctrl_CYP11B2_rep2 = control('2', 'CYP11B2')
#ctrl_CYP11B2_rep3 = control('3', 'CYP11B2')
#ctrl_CYP11B2_rep4 = control('4', 'CYP11B2')

In [39]:
# Extracting dataframes per replicate for each probe

def dataframes (replicate, target):
    dataframe = clean[(clean['Target Name'] == target) &
                              (clean['rep'] == replicate)]
    return dataframe


GAPDH_rep1 = dataframes('1', 'GAPDH')
GAPDH_rep2 = dataframes('2', 'GAPDH')
#GAPDH_rep3 = dataframes('3', 'GAPDH')
#GAPDH_rep4 = dataframes('4', 'GAPDH')

KCNJ5_rep1 = dataframes('1', 'KCNJ5')
KCNJ5_rep2 = dataframes('2', 'KCNJ5')
#KCNJ5_rep3 = dataframes('3', 'KCNJ5')
#KCNJ5_rep4 = dataframes('4', 'KCNJ5')

CYP11B2_rep1 = dataframes('1', 'CYP11B2')
CYP11B2_rep2 = dataframes('2', 'CYP11B2')
#CYP11B2_rep3 = dataframes('3', 'CYP11B2')
#CYP11B2_rep4 = dataframes('4', 'CYP11B2')

In [37]:
CYP11B2_values = clean[(clean['Target Name'] == 'CYP11B2')]

def delta_CT(CYP11B2):
    GAPDH = clean[(clean['Target Name'] == 'GAPDH') &
                            (clean['Sample Name'] == CYP11B2['Sample Name']) &
                            (clean['rep'] == CYP11B2['rep'])]
                          
    CYP11B2['GAPDH'] = float64(GAPDH['Ct Mean'])
    
    CYP11B2['dCt CYP11B2'] = float64(subtract(CYP11B2['Ct Mean'], GAPDH['Ct Mean']))
    
    return CYP11B2

deltaCT_CYP11B2 = CYP11B2_values.apply(delta_CT, axis = 1).drop(columns = ['Target Name', 'GAPDH'])
clean_deltaCT_CYP11B2 = deltaCT_CYP11B2.reset_index().drop(columns=['index'])
clean_deltaCT_CYP11B2

,Sample Name,CT,Ct Mean,Ct SD,rep,dCt CYP11B2
0,empty,30.231167,30.156593,0.105463,1,"[-0.49378204345703125, -0.49378204345703125]"
1,empty,30.082020,30.156593,0.105463,1,"[-0.49378204345703125, -0.49378204345703125]"
2,empty + m-54,31.374182,31.368679,0.007781,1,"[7.655242919921875, 7.655242919921875]"
3,empty + m-54,31.363178,31.368679,0.007781,1,"[7.655242919921875, 7.655242919921875]"
4,WT + m-54,31.392122,31.414961,0.032299,1,"[8.060750961303711, 8.060750961303711]"
5,WT,29.534868,29.640133,0.148865,1,"[6.247591018676758, 6.247591018676758]"
6,WT,29.745396,29.640133,0.148865,1,"[6.247591018676758, 6.247591018676758]"
7,WT + m-54,31.437799,31.414961,0.032299,1,"[8.060750961303711, 8.060750961303711]"
8,L168R,29.733652,29.717892,0.022287,1,"[6.069419860839844, 6.069419860839844]"
9,L168R,29.702133,29.717892,0.022287,1,"[6.069419860839844, 6.069419860839844]"
10,L168R + m-54,31.287251,31.380970,0.132539,1,"[7.918510437011719, 7.918510437011719]"
11,L168R + m-54,31.474689,31.380970,0.132539,1,"[7.918510437011719, 7.918510437011719]"
12,empty,29.975176,29.883806,0.129216,2,"[4.010679244995117, 4.010679244995117]"
13,empty,29.792437,29.883806,0.129216,2,"[4.010679244995117, 4.010679244995117]"
14,empty + m-54,32.208469,32.221542,0.018488,2,"[7.12335205078125, 7.12335205078125]"
15,empty + m-54,32.234615,32.221542,0.018488,2,"[7.12335205078125, 7.12335205078125]"
16,WT,29.745144,29.702539,0.060252,2,"[4.721651077270508, 4.721651077270508]"
17,WT,29.659935,29.702539,0.060252,2,"[4.721651077270508, 4.721651077270508]"
18,WT + m-54,32.659355,32.724556,0.092208,2,"[7.362369537353516, 7.362369537353516]"
19,WT + m-54,32.789757,32.724556,0.092208,2,"[7.362369537353516, 7.362369537353516]"
20,L168R,30.010817,30.081081,0.099369,2,"[4.374448776245117, 4.374448776245117]"
21,L168R,30.151346,30.081081,0.099369,2,"[4.374448776245117, 4.374448776245117]"
22,L168R + m-54,31.882353,32.245274,0.513246,2,"[6.428863525390625, 6.428863525390625]"
23,L168R + m-54,32.608192,32.245274,0.513246,2,"[6.428863525390625, 6.428863525390625]"

In [71]:
KCNJ5_values = clean[clean['Target Name'] == 'KCNJ5']

def delta_CT(KCNJ5):
    GAPDH = clean[(clean['Target Name'] == 'GAPDH') &
                            (clean['Sample Name'] == KCNJ5['Sample Name']) &
                            (clean['rep'] == KCNJ5['rep'])
                          ]
    KCNJ5['GAPDH'] = float64(GAPDH['Ct Mean'])
    KCNJ5['dCt KCNJ5'] = float64(subtract(KCNJ5['Ct Mean'], GAPDH['Ct Mean']))   
    
    return KCNJ5

deltaCT_KCNJ5 = KCNJ5_values.apply(delta_CT, axis = 1).drop(columns = ['Target Name', 'GAPDH'])
clean_deltaCT_KCNJ5 = deltaCT_KCNJ5.reset_index().drop(columns=['index']).sort_values(by=['Sample Name'])
clean_deltaCT_KCNJ5

    Sample Name    Ct Mean rep  dCt KCNJ5
4         L168R  19.720732   1  -3.927740
5  L168R + m-54  19.067278   1  -4.395182
3            WT  20.424034   1  -2.968508
2     WT + m-54  20.228771   1  -3.125439
0         empty  24.549644   1  -2.556471
1  empty + m-54  24.533558   1   0.820122

In [59]:
# defining control

def control (dataframe, replicate):
    ctrl = dataframe[(dataframe['Sample Name'] == 'empty') &
                (dataframe['rep'] == replicate)]
    return ctrl


ctrl_KCNJ5_rep1 = control(clean_deltaCT_KCNJ5, '1')['dCt KCNJ5']
#ctrl_KCNJ5_rep2 = control(clean_deltaCT_KCNJ5, '2')['dCt KCNJ5']
#ctrl_KCNJ5_rep3 = control(clean_deltaCT_KCNJ5, '3')['dCt KCNJ5']
#ctrl_KCNJ5_rep4 = control(clean_deltaCT_KCNJ5, '4')['dCt KCNJ5']

ctrl_CYP11B2_rep1 = control(clean_deltaCT_CYP11B2, '1')['dCt CYP11B2']
#ctrl_CYP11B2_rep2 = control(clean_deltaCT_CYP11B2, '2')['dCt CYP11B2']
#ctrl_CYP11B2_rep3 = control(clean_deltaCT_CYP11B2, '3')['dCt CYP11B2']
#ctrl_CYP11B2_rep4 = control(clean_deltaCT_CYP11B2, '4')['dCt CYP11B2']

In [62]:
# Subtract KCNJ5/CYP11B2 values with GAPDH value

results_KCNJ5 = []
results_CYP11B2 = []

def subtract_ctrl (dataframe_defined, ctrl_defined, start, end, results_defined):
    dataframe_looped = dataframe_defined.iloc[start:end]
    ctrl_looped = ctrl_defined
    results = results_defined
    for i in dataframe_looped:
        ddCt = i - ctrl_looped
        results.append(ddCt)
    return results

ddCt_KCNJ5 = subtract_ctrl(clean_deltaCT_KCNJ5['dCt KCNJ5'], ctrl_KCNJ5_rep1, 0, 6, results_KCNJ5)
#ddCt_KCNJ5 = subtract_ctrl(clean_deltaCT_KCNJ5['dCt KCNJ5'], ctrl_KCNJ5_rep2, 3, 6, results_KCNJ5)
#ddCt_KCNJ5 = subtract_ctrl(clean_deltaCT_KCNJ5['dCt KCNJ5'], ctrl_KCNJ5_rep3, 6, 9, results_KCNJ5)
#ddCt_KCNJ5 = subtract_ctrl(clean_deltaCT_KCNJ5['dCt KCNJ5'], ctrl_KCNJ5_rep4, 9, 12, results_KCNJ5)

ddCt_CYP11B2 = subtract_ctrl(clean_deltaCT_CYP11B2['dCt CYP11B2'], ctrl_CYP11B2_rep1, 0, 6, results_CYP11B2)
#ddCt_CYP11B2 = subtract_ctrl(clean_deltaCT_CYP11B2['dCt CYP11B2'], ctrl_CYP11B2_rep2, 3, 6, results_CYP11B2)
#ddCt_CYP11B2 = subtract_ctrl(clean_deltaCT_CYP11B2['dCt CYP11B2'], ctrl_CYP11B2_rep3, 6, 9, results_CYP11B2)
#ddCt_CYP11B2 = subtract_ctrl(clean_deltaCT_CYP11B2['dCt CYP11B2'], ctrl_CYP11B2_rep4, 9, 12, results_CYP11B2)
#ddCt_CYP11B2

In [63]:
clean_deltaCT_CYP11B2['dCt KCNJ5'] = clean_deltaCT_KCNJ5['dCt KCNJ5']
all_results = clean_deltaCT_CYP11B2.drop(columns = ['Ct Mean'])
all_results['ddCt CYP11B2'] = float64(ddCt_CYP11B2)
all_results['ddCt KCNJ5'] = float64(ddCt_KCNJ5)
all_results

    Sample Name rep  dCt CYP11B2  dCt KCNJ5  ddCt CYP11B2  ddCt KCNJ5
0         empty   1     3.050478  -2.556471      0.000000    0.000000
1  empty + m-54   1     7.655243   0.820122      4.604765    3.376593
2     WT + m-54   1     8.060751  -3.125439      5.010273   -0.568968
3            WT   1     6.247591  -2.968508      3.197113   -0.412037
4         L168R   1     6.069420  -3.927740      3.018942   -1.371269
5  L168R + m-54   1     7.918510  -4.395182      4.868032   -1.838711

In [65]:
all_results['Fold Change CYP11B2'] = 2**(-all_results['ddCt CYP11B2'])
all_results['Fold Change KCNJ5'] = 2**(-all_results['ddCt KCNJ5'])
all_results.sort_values(by=['Sample Name'])

,Sample Name,rep,dCt CYP11B2,dCt KCNJ5,ddCt CYP11B2,ddCt KCNJ5,Fold Change CYP11B2,Fold Change KCNJ5
4,L168R,1,6.069420,-3.927740,3.018942,-1.371269,0.123370,2.586981
5,L168R + m-54,1,7.918510,-4.395182,4.868032,-1.838711,0.034243,3.576902
3,WT,1,6.247591,-2.968508,3.197113,-0.412037,0.109037,1.330563
2,WT + m-54,1,8.060751,-3.125439,5.010273,-0.568968,0.031028,1.483462
0,empty,1,3.050478,-2.556471,0.000000,0.000000,1.000000,1.000000
1,empty + m-54,1,7.655243,0.820122,4.604765,3.376593,0.041099,0.096282