# 2022-07-28_Untransfected_AngII_rep 3 and 4

In [19]:
pip install xlrd

Requirement already satisfied: xlrd in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
from numpy import float64, subtract, divide

In [18]:
rawDataSet_2 = pd.read_excel(r'/Users/sanas/Projects/molecule-54/AngII-stim/resources/AngII_rep2.xlsx', sheet_name = 'Results', header = 50, decimal = ",")
rawDataSet_3and4 = pd.read_excel(r'/Users/sanas/Projects/molecule-54/AngII-stim/resources/AngII_rep3-rep4.xls', sheet_name = 'Results', header = 50, decimal = ",")
rawDataSet_5and6 = pd.read_excel(r'/Users/sanas/Projects/molecule-54/AngII-stim/resources/AngII_rep5-rep6.xls', sheet_name = 'Results', header = 50, decimal = ",")


AngII_clean_2 = rawDataSet_2.drop(columns = ['Well', 'Well Position', 'Omit', 'Task', 'Reporter', 'Quencher', 'Quantity', \
                                    'Quantity Mean', 'Quantity SD', 'RQ', 'RQ Min', 'RQ Max', 'Delta Ct', 'Delta Ct Mean', \
                                     'Delta Ct SD', 'Delta Ct SE', 'Delta Delta Ct', 'Automatic Ct Threshold', \
                                     'Ct Threshold', 'Automatic Baseline', 'Baseline Start', \
                                    'Baseline End', 'Amp Status', 'Comments', 'Cq Conf', 'CQCONF', 'EXPFAIL', 'NOAMP', 'HIGHSD'])

AngII_clean_3and4 = rawDataSet_3and4.drop(columns = ['Well', 'Well Position', 'Omit', 'Task', 'Reporter', 'Quencher', 'Quantity', \
                                    'Quantity Mean', 'Quantity SD', 'RQ', 'RQ Min', 'RQ Max', 'Delta Ct', 'Delta Ct Mean', \
                                     'Delta Ct SD', 'Delta Ct SE', 'Delta Delta Ct', 'Automatic Ct Threshold', \
                                     'Ct Threshold', 'Automatic Baseline', 'Baseline Start', \
                                    'Baseline End', 'Amp Status', 'Comments', 'Cq Conf', 'CQCONF', 'EXPFAIL', 'NOAMP',])

AngII_wo_na = AngII_clean_3and4.dropna(axis = 0)
AngII_exp3 = AngII_wo_na[AngII_wo_na['Sample Name'].str.contains('rep')]
AngII_exp3


AngII_clean_5and6 = rawDataSet_5and6.drop(columns = ['Well', 'Well Position', 'Omit', 'Task', 'Reporter', 'Quencher', 'Quantity', \
                                    'Quantity Mean', 'Quantity SD', 'RQ', 'RQ Min', 'RQ Max', 'Delta Ct', 'Delta Ct Mean', \
                                     'Delta Ct SD', 'Delta Ct SE', 'Delta Delta Ct', 'Automatic Ct Threshold', \
                                     'Ct Threshold', 'Automatic Baseline', 'Baseline Start', \
                                    'Baseline End', 'Amp Status', 'Comments', 'Cq Conf', 'CQCONF', 'EXPFAIL'])

In [4]:
mergedAngII = pd.concat([AngII_clean_2, AngII_clean_3and4, AngII_clean_5and6])
mergedAngII

             Sample Name Target Name         CT    Ct Mean     Ct SD
0   rep_3 + cum + mol-54       GAPDH  29.257105  28.966400  0.411120
1   rep_3 + cum + mol-54       GAPDH  28.675694  28.966400  0.411120
2   rep_3 + cum - mol-54       GAPDH  28.836905  28.695934  0.199362
3   rep_3 + cum - mol-54       GAPDH  28.554964  28.695934  0.199362
4   rep_3 - cum + mol-54       GAPDH  28.725031  28.730066  0.007121
..                   ...         ...        ...        ...       ...
45                   NaN         NaN        NaN        NaN       NaN
46                   NaN         NaN        NaN        NaN       NaN
47                   NaN         NaN        NaN        NaN       NaN
48                   NaN         NaN        NaN        NaN       NaN
49                   NaN         NaN        NaN        NaN       NaN

[156 rows x 5 columns]

In [12]:
all_exp = mergedAngII.dropna(axis = 0)
all_exp

             Sample Name Target Name         CT    Ct Mean     Ct SD
0   rep_3 + cum + mol-54       GAPDH  29.257105  28.966400  0.411120
1   rep_3 + cum + mol-54       GAPDH  28.675694  28.966400  0.411120
2   rep_3 + cum - mol-54       GAPDH  28.836905  28.695934  0.199362
3   rep_3 + cum - mol-54       GAPDH  28.554964  28.695934  0.199362
4   rep_3 - cum + mol-54       GAPDH  28.725031  28.730066  0.007121
..                   ...         ...        ...        ...       ...
37          + cum + m-54     CYP11B2  30.262346  30.596180  0.472111
38          + cum - m-54     CYP11B2  30.024828  30.056484  0.044769
39          + cum - m-54     CYP11B2   30.08814  30.056484  0.044769
40          - cum + m-54     CYP11B2  30.370108  30.391968  0.030916
41          - cum + m-54     CYP11B2   30.41383  30.391968  0.030916

[132 rows x 5 columns]

In [14]:
AngII_database = all_exp[all_exp['Sample Name'].str.contains('rep')]
AngII_database

             Sample Name Target Name         CT    Ct Mean     Ct SD
0   rep_3 + cum + mol-54       GAPDH  29.257105  28.966400  0.411120
1   rep_3 + cum + mol-54       GAPDH  28.675694  28.966400  0.411120
2   rep_3 + cum - mol-54       GAPDH  28.836905  28.695934  0.199362
3   rep_3 + cum - mol-54       GAPDH  28.554964  28.695934  0.199362
4   rep_3 - cum + mol-54       GAPDH  28.725031  28.730066  0.007121
..                   ...         ...        ...        ...       ...
19        Untreated rep6     CYP11B2  31.964445  31.969683  0.007407
20            AngII rep6     CYP11B2  25.974489  26.047600  0.103394
21            AngII rep6     CYP11B2   26.12071  26.047600  0.103394
22   AngII + mol-54 rep6     CYP11B2  28.050341  28.118612  0.096551
23   AngII + mol-54 rep6     CYP11B2  28.186884  28.118612  0.096551

[84 rows x 5 columns]

In [212]:
AngII_data_dedupl = AngII_data_raw.drop(columns=['CT', 'Ct SD']).drop_duplicates()
AngII_data_dedupl

            Sample Name Target Name    Ct Mean
0        Untreated rep3       GAPDH  26.120548
2            AngII rep3       GAPDH  25.775509
4   AngII + mol-54 rep3       GAPDH  25.801086
6        Untreated rep4       GAPDH  25.875061
8            AngII rep4       GAPDH  26.234150
10  AngII + mol-54 rep4       GAPDH  26.163921
12       Untreated rep3     CYP11B2  31.104525
14           AngII rep3     CYP11B2  25.130394
16  AngII + mol-54 rep3     CYP11B2  25.985344
17       Untreated rep4     CYP11B2  31.857391
19           AngII rep4     CYP11B2  25.812138
21  AngII + mol-54 rep4     CYP11B2  26.825146

In [213]:
CYP11B2_values = AngII_data_dedupl[AngII_data_dedupl['Target Name'] == 'CYP11B2']

def delta_CT(CYP11B2_value):
    GAPDH_value = AngII_data_dedupl[(AngII_data_dedupl['Target Name'] == 'GAPDH') &
                                   (AngII_data_dedupl['Sample Name'] == CYP11B2_value['Sample Name'])
                                  ]
    CYP11B2_value['GAPDH'] = float64(GAPDH_value['Ct Mean'])
    CYP11B2_value['Delta CT'] = float64(subtract(CYP11B2_value['Ct Mean'], GAPDH_value['Ct Mean']))
    
    
    CYP11B2_value['rep'] = CYP11B2_value['Sample Name'][-1]
    CYP11B2_value['Sample Name'] = CYP11B2_value['Sample Name'][:len(CYP11B2_value['Sample Name']) - 5]
    
    return CYP11B2_value

deltaCT_CYP11B2 = CYP11B2_values.apply(delta_CT, axis = 1).drop(columns = ['Target Name', 'GAPDH'])
deltaCT_CYP11B2

       Sample Name    Ct Mean  Delta CT rep
12       Untreated  31.104525  4.983976   3
14           AngII  25.130394 -0.645115   3
16  AngII + mol-54  25.985344  0.184258   3
17       Untreated  31.857391  5.982330   4
19           AngII  25.812138 -0.422012   4
21  AngII + mol-54  26.825146  0.661224   4

In [214]:
doubleDeltaCT_CYP11B2 = 2 ** (-deltaCT_CYP11B2['Delta CT'])
float64(doubleDeltaCT_CYP11B2)

array([0.03159902, 1.56386383, 0.88010191, 0.01581755, 1.33979505,
       0.63234142])

In [235]:
deltaCT_CYP11B2['Double Delta CT'] = doubleDeltaCT_CYP11B2
deltaCT_CYP11B2

       Sample Name    Ct Mean  Delta CT rep  Double Delta CT
12       Untreated  31.104525  4.983976   3         0.031599
14           AngII  25.130394 -0.645115   3         1.563864
16  AngII + mol-54  25.985344  0.184258   3         0.880102
17       Untreated  31.857391  5.982330   4         0.015818
19           AngII  25.812138 -0.422012   4         1.339795
21  AngII + mol-54  26.825146  0.661224   4         0.632341

In [251]:
# Extracting untreated rep3

untreated_rep3 = deltaCT_CYP11B2[deltaCT_CYP11B2['rep'] == '3']

untreated_rep4 = deltaCT_CYP11B2[deltaCT_CYP11B2['rep'] == '4']

def extract_untreated(rep_data_frame):
    untreated = rep_data_frame[rep_data_frame['Sample Name'] == 'Untreated']['Double Delta CT']
    angII_value = rep_data_frame[rep_data_frame['Sample Name'] == 'AngII']['Double Delta CT']
    angII_m54 = rep_data_frame[rep_data_frame['Sample Name'] == 'AngII + mol-54']['Double Delta CT']
    
    print(divide(foldChange_angII_value, foldChange_angII_m54))
    
    return [1, foldChange_angII_value, foldChange_angII_m54]
    
untreated_rep3['Fold Change'] = extract_untreated(untreated_rep3)
untreated_rep4['Fold Change'] = extract_untreated(untreated_rep4)
pd.concat([untreated_rep3, untreated_rep4])

1.7769122107002535
2.1187842570986093

/var/folders/k3/y65s0sg95bv4_svkn3b9sfs40000gn/T/ipykernel_4782/1506400082.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  untreated_rep3['Fold Change'] = extract_untreated(untreated_rep3)
/var/folders/k3/y65s0sg95bv4_svkn3b9sfs40000gn/T/ipykernel_4782/1506400082.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  untreated_rep4['Fold Change'] = extract_untreated(untreated_rep4)

       Sample Name    Ct Mean  Delta CT rep  Double Delta CT  Fold Change
12       Untreated  31.104525  4.983976   3         0.031599     1.000000
14           AngII  25.130394 -0.645115   3         1.563864    49.490896
16  AngII + mol-54  25.985344  0.184258   3         0.880102    27.852190
17       Untreated  31.857391  5.982330   4         0.015818     1.000000
19           AngII  25.812138 -0.422012   4         1.339795    84.703087
21  AngII + mol-54  26.825146  0.661224   4         0.632341    39.977212